name: Ewok Mac
on: [workflow_dispatch]

# Global Cache Settings
env:
  GODOT_BASE_BRANCH: 3.2
  SCONS_CACHE_LIMIT: 4096

jobs:
  macos-editor:
    runs-on: "macos-latest"

    name: Editor (target=release_debug, tools=yes)

    steps:
    - uses: actions/checkout@v2
      with:
        repository: lawnjelly/godot
        ref: mac_orphan
        
    - name: Show folders before
      run: pwd && whoami && ls -R && ls misc
              
    #- uses: actions/checkout@v2
      # Upload cache on completion and check it out now
    - name: Load .scons_cache directory
      id: macos-editor-cache
      uses: actions/cache@v2
      with:
          path: ${{github.workspace}}/.scons_cache/
          key: ${{github.job}}-${{env.GODOT_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{github.job}}-${{env.GODOT_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{github.job}}-${{env.GODOT_BASE_BRANCH}}-${{github.ref}}
            ${{github.job}}-${{env.GODOT_BASE_BRANCH}}
      # Use python 3.x release (works cross platform; best to keep self contained in it's own step)
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.x'
          # Optional - x64 or x86 architecture, defaults to x64
          architecture: 'x64'

      # Setup scons, print python version and scons version info, so if anything is broken it won't run the build.
    - name: Configuring Python packages
      run: |
          python -c "import sys; print(sys.version)"
          python -m pip install scons
          python --version
          scons --version
      # We should always be explicit with our flags usage here since it's gonna be sure to always set those flags
    - name: Compilation
      env:
          SCONS_CACHE: ${{github.workspace}}/.scons_cache/
      run: |
          scons -j2 verbose=no warnings=moderate werror=no platform=osx tools=yes target=release_debug
    - name: Show folders after
      run: pwd && whoami && ls -R
        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: godot-ewok-mac-editor
        path: bin/godot.osx.opt.tools.64
